@helper addForm() { 
<form method="post" action="/Sixth/AddSave">
    ФИО<br />
    <input type="text" name="Name" />
    <br />
    Телефон<br />
    <input type="text" name="Phone" />
    <br />
    <br />
    <input type="submit" value="Сохранить" />
</form>
}
