@{
    Layout = "~/Views/Shared/MyMasterView.cshtml";
}
@section Header{
    <h2 align="center" style="color:white">Добавление контакта</h2>
}
@myHelpers.addForm()
@section Footer{
    <footer style="background-color:lightpink; position:absolute; bottom:0; left:0; width:100%">
        <h4 style="color:white">Add footer</h4>
    </footer>
}